.button {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  font: var(--primary-bold-button-3);
  text-align: center;
}

.button:focus {
  box-shadow:  var(--focus-boxshadow);
  outline: none;
}

/* only applies to a second .button coming immediately after a .button, under the same parent */
.button + .button {
  margin-left: 16px;
}

/* Primary Button Style */

.primary {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: var(--button-transition);
}

.primary:hover {
  background-color: var(--primary-color-darken);
}

/* Secondary Button Style */
/* Has a more dramatic transition, flashier */

.secondary {
  box-shadow: inset 0 0 0 0 var(--white-color);
  border: var(--border-1px-solid);
  color: var(--primary-color);
  transition: var(--button-transition);
}

.secondary:hover {
  box-shadow: inset 400px 0 0 0 var(--primary-color);
  color: var(--white-color);
}

/* Button Size Styles */

.medium {
  padding: 13px 16px;
}