.jobListings {
  width: 100%;
}

.listingHeader { 
  padding: 0.5rem 1.125rem;
}

.listingHeader,
.listingContent {
  align-items: center;
  align-content: stretch;
  display: flex;
  flex-wrap: nowrap;
}

.categories {
  color: var(--grey-color-3);
  font: var(--secondary-bold-text-2);
}

.listingContent {
  background-color: var(--white-color);
  border: var(--border-1px-solid);
  border-radius: var(--border-radius); 
  margin-bottom: 16px;
  padding: 19px 18px;
}

.categories:first-child,
.listingText:first-child {
  flex-basis: 33%;
  flex-direction: column;
  justify-content: flex-start;
}

.categories:last-child,
.listingText:last-child {
  justify-content: flex-end;
  flex: 1 0 10%;
}

.categories,
.listingText {
  display: flex;
  flex: 1 0 19%;
  justify-content: center;
}

.listingText {
  color: var(--grey-color-5);
  font: var(--secondary-text-2);
}

.listingLocation  {
  color: var(--grey-color-3);
  font: var(--secondary-text-2);
}