:root {
  /* Colors */
  --primary-color: #085ff7;
  --primary-color-darken: #0046DE;
  --white-color: #ffffff;
  --background-color: #e5e5e5;
  --grey-color-1: #d4d2d0;
  --grey-color-2: #c4c4c4;
  --grey-color-3: #949494;
  --grey-color-4: #2d2d2d;


  /* Fonts */
  --primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  --secondary-font: 'Noto Sans', Helvetica, Arial, sans-serif; 

  /* Font Size */
  --text-6: 1.75rem/1.25;
  /* --text-5: 1.5rem/1.25;
  --text-4: 1.25rem/1.5; */
  --text-3: 1rem/1.5;
  --text-2: 0.875rem/1.5;
  --text-1: 0.75rem/1.5;


  /* Font Styles */
  --primary-bold-text-3: 700 var(--text-3) var(--primary-font);
  --primary-text-3: 400 var(/--text-3) var(--primary-font);
  --primary-text-1: 400 var(--text-1) var(--primary-font);

  --secondary-bold-text-6: 700 var(--text-6) var(--secondary-font);
  --secondary-bold-text-2: 700 var(--text-2) var(--secondary-font);
  --secondary-text-2: 400 var(--text-2) var(--secondary-font);

  /* Border */
  --border-1px-solid: 1px solid var(--grey-color-1);
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background-color); 
  font-family: var(--primary-font);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
